# <center> <span style="color:lightblue">**Exploratory Data Analysis** (EDA)</span>
## <center> Titanic Data

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import missingno as msno
#from pandas_profiling import ProfileReport

%matplotlib inline

In [ ]:
titanic = pd.read_csv("titanic.csv")
titanic.head(3)

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S

[3 rows x 12 columns]

In [7]:
# prof=ProfileReport(titanic)
# prof.to_file(output_file="titanic_profile.html")

In [ ]:
#https://www.youtube.com/watch?v=PPEHpg2RixQ
#https://www.youtube.com/watch?v=85EzxbxAUv4 -----------ANOVA